:root{
    --redColor: #ea4d44;
    --yellowColor: yellow;
    --fontColor: #222;
    --whiteColor: #fff;
    --greyColor: #f5f5f5;
    --darkGreyColor: #c4c4c4;
    --blueColor: #03a9f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'lato',sans-serif;
    background-color: var(--blueColor);
}

html {
    scroll-behavior: smooth;
}
/* Start Navbar  */
.navbar{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0 3%;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#97deff /*var(--yellowColor)*/;
}
.menu {
    display: flex;
    gap: 5px;
}
.menu-user , .menu-cart{
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--whiteColor);
    color: var(--fontColor);
    cursor: pointer;
}
.menu-user:hover , .menu-cart:hover{
    background-color: var(--blueColor);
    color: var(--whiteColor);
}
.cart-count{
    background-color: var(--blueColor);
    border-radius: 10px;
    padding: 5% 10%;
    margin-left: 5px;
    font-size: 10px;
    color: var(--whiteColor);
}
/* Satar Container && main  */
.container{
    display: flex;
    margin-top: 60px;
}
.main{
    flex-grow: 1;
    height: max-content;
    padding: 0 3%;
    margin-right: 350px;
}
.product-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200PX, 1fr));
    gap: 1.2rem;
}
.product{
    display: flex;
    flex-direction: column;
    background-color: var(--greyColor);
    border-radius: 8px;
    padding: 10px;
    box-shadow:rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 0px;
}
.product-img{
    width: auto;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #97deff;
}
.product-title{
    font-size: 16px;
}
.product-price{
    font-size: 14px;
}
.add-to-cart{
    border: none;
    padding: 5px 0;
    margin: 10px 0;
    background-color: var(--blueColor);
    border-radius: 20px;
    color: var(--whiteColor);
    cursor: pointer;
}
.add-to-cart:hover{
    background-color: var(--yellowColor);
    color: var(--fontColor);
}
/* Start Cart  */
.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    height: calc(100% - 80px);
    position: fixed;
    top: 0;
    right: 20px;
    background-color: var(--blueColor);
    color: var(--whiteColor);
    border-radius: 8px;
    margin-top: 60px;
    padding: 1%;
}
.cart-title{
    letter-spacing: 1;
    line-height: 2;
}
.cart-list{
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
    padding: 0 2% 2% 0;
    color: var(--fontColor);
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 3%;
    margin: 2% 0;
    border-radius: 8px;
    background-color: var(--greyColor);
    width: 100%;
    font-size: 13px;
}
.cart-item-img{
    width:35px;
    height: 35px;
    object-fit: contain;
    object-position: center;
    border-radius: 8px;
}
.cart-item-title{
    min-width: 10px;
    max-width: 15ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cart-item-quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.change-quantity{
    border:none;
    background-color: var(--blueColor);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.cart-item-price{
    font-weight: 700;
}
.cart-item-remove{
    border: none;
    background-color: transparent;
    color: var(--darkGreyColor);
    cursor: pointer;
}
.cart-item-remove:hover{
    color: var(--redColor);
}
.cart-empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--fontColor);
}
.cart-empty img{
    width: 50%;
    height: 50%;
}
.divider{
    border: none;
    height: 2px;
    background-color: var(--greyColor);
}
.cart-action{
    margin-top: 10px;
}
.cart-amount{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.5;
}
#final-price{
    font-weight: 700;
    color: var(--fontColor);
}
.cart-btn{
    width: 100%;
    border: none;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--redColor);
    color: var(--whiteColor);
    font-weight: 700;
    letter-spacing: 1;
    cursor: pointer;
}

.collapsed{
    width: 0;
    display: none;
}

.expanded{
    margin-right: 0;
}